<section class="group-section group-nowPlanning">
    <header class="header-imgTop2"><h1 class="title"><img src="/img/images.jpeg"
      height="34" width="230" alt="セール中の商品"></h1></header>
    <ul class="block-saleList">
        <li>
          <div class="image"><a href="#">
              <img src="/img/dummy/img-70x70.png" height="70" width="70" alt="">
           </a>
          </div>
          <div class="body">
            <header>
              <h1 class="title"><a href="#">
                <b></b></a>&nbsp;
                <span class="width">with</span>&nbsp;
                </h1>
            </header>
          </div>
        </li>
    </ul>
</section>